{% extends "auctions/layout.html" %}

{% block body %}
    <h2>your watchlist : </h2>
    {% for list in lists %}
      
    
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <div>
              <form class="form-group">
                {% csrf_token %}
                <a href="{% url 'add' list.id %}" type="submit" role="button"class="btn btn-secondary">watchlist<a>
              </form>
            </div>
            
            <h3 class="mb-0">{{list.title}}</h3> 
            <strong class="d-inline-block mb-2 ">{{list.desc}}</strong>
            <div class="mb-1 text-muted">Nov 12</div>
            <div class="mb-1 text-muted">{{list.price.bid}}</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <br>
            <b>enter your value for bid:</b>
            <div>
                <form action="{% url 'newbid' list.id%}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="bid"></label>
                      <input type="number" class="form-control" id="bid" name="bid" placeholder="enter your value">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">place bid</button>
                  </form>
            </div>
            <div>
                <h4>Detailes</h4>
                <ul>
                    <li>listed by: {{list.owner}}</li>
                </ul>
            </div>
            {% comment %} <a href="{% url 'display' list.id%}" class="stretched-link">move to listing</a> {% endcomment %}
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="300" height="250" src="{{list.url}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"> 
          </div>
        </div>
      </div>
      
      {% endfor %}

    
{% endblock %}